html {
    scroll-behavior: smooth;
  }

.navbar-brand{
    padding: 10px 20px;
    height: 00px;
    line-height: 300px;
    position: fixed;
}

.navicon
{
    font-size: 25px;

}

.navicon:hover{   
    color: rgba(243, 1, 231, 0.863);
   
 
}

.text{
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 font-size: 22px;
 padding: 0px 20px;
 cursor: pointer;
}

.bg{
    background-image: url("images/Welcome2.jpg");
    background-color: gray;
    background-size:cover ;
    background-repeat:no-repeat;
    background-attachment: fixed;
    
 
    
}

.fixed{
    
    position: -webkit-sticky;
    position: sticky;
   }


.homehtml{
   
    background-color: gray;
    background-size:cover ;
    background-repeat:no-repeat;
    opacity: 0.9;  
    filter: alpha(opacity=30);
    background-attachment: fixed;
    

}


h1{
    color:white;
    font-size: 35px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-weight: 700;
    background-color:rgba(97, 97, 97, 0.514) ;
}
p{
    font-size: 25px;
    margin-top:0%;
    margin-bottom: 0%;
    margin-left: 7%;
    margin-right:7%;
    text-align: justify;

    
}



.contactbody {
    font-family: Arial;
    color: black;
    
  }
  
  .split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .left {
    left: 0;
    top: 10%;
  color:rgb(0, 0, 0);
  font-weight: 900;
  font-size: 20px;
  
  }
  
  .right {

  left:40%;
  top:6%;
  
   
   
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    line-height: 80px;
  }
  
  .input {
    box-shadow: none;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.781);
    height:54px;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    line-height: 80px;
}

#inputtext
{
  
    box-shadow: none;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.822);
    border-radius: 15px;  
    height: 54px;
    width:450px ;
    font-size: 18px;
    font-weight: 400;
    outline: none;
    color:black;
}

#inputtextarea
{
  
    box-shadow: none;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.822);
    border-radius: 15px;  
    height: 80px;
    width:450px ;
    font-size: 18px;
    font-weight: 400;
    outline: none;
}



::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:black;
    opacity: 0.7; /* Firefox */
    
  }

  
  .button {
    background-color:gray;
  
    color:black;
    padding: 15px 32px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 150px;  height: 50px;
    border-radius: 15px; 
    margin-left: 120px;
    margin-top: 480px;
    outline: none;
  }
