

.navbar-brand{
    padding: 10px 20px;
    height: 00px;
    line-height: 300px;
    position: fixed;
    position: -webkit-sticky;
    position: sticky;
}



.navicon
{
    font-size: 25px;
    color:rgb(247, 247, 247)

}

.navicon:hover{   
    color: rgba(243, 1, 231, 0.863);
    
  
 
}

.text{
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 font-size: 22px;
 padding: 0px 20px;
 cursor: pointer;
}

.bg{
    background-image: url("images/bg.jpg");
    background-color: gray;
    background-size:cover ;
    background-repeat:no-repeat;
    background-attachment: fixed;
    
 
    
}

.fixed{
    
    position: -webkit-sticky;
    position: sticky;
   }


.homehtml{
   
    background-color: gray;
    background-size:cover ;
    background-repeat:no-repeat;
    opacity: 0.9;  
    filter: alpha(opacity=30);
    background-attachment: fixed;
    

}


h1{
    color:white;
    font-size: 35px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-weight: 700;
    background-color:rgba(97, 97, 97, 0.514) ;
    margin-left: 7%;
    margin-right:7%;
}
p{
    font-size: 25px;
    margin-top:0%;
    margin-bottom: 0%;
    margin-left: 7%;
    margin-right:7%;
    text-align: justify;

    
}



.contactbody {
    font-family: Arial;
    color: rgb(134, 128, 128);
    
  }
  
  
  
  .left {
    left: 0;
    top: 10%;
  color:rgb(102, 102, 102);
  font-weight: 900;
  font-size: 20px;
  
  }
  
  .right {

  left:40%;
  top:6%;
  
   
   
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    line-height: 80px;
  }
  
  .input {
    box-shadow: none;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.781);
    height:54px;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    line-height: 80px;
}

#inputtext
{
  
    box-shadow: none;
    background: rgba(255, 255, 255, 0.267);
    border: 0px solid rgb(0, 0, 0);
    border-radius: 10px;  
    height: 54px;
    width:450px ;
    font-size: 18px;
    font-weight: 400;
    outline: none;
    color:black;
    
}

#inputtext::-webkit-outer-spin-button,
#inputtext::-webkit-inner-spin-button {
   
    -webkit-appearance: none;
    margin: 0; 
}


#inputtext:focus{
  border-color: rgb(245, 6, 53);
  border: 2px solid  rgb(245, 6, 53) ;
}


#inputtextarea
{
  
    box-shadow: none;
    background: rgba(255, 255, 255, 0.267);
    border: 0px solid rgb(0, 0, 0);
    border-radius: 10px;  
    height: 80px;
    width:450px ;
    font-size: 18px;
    font-weight: 400;
    outline: none;
}
#inputtextarea:focus{
  border-color: rgb(245, 6, 53);
  border: 2px solid  rgb(245, 6, 53) 
}


::placeholder { 
    color:rgb(0, 0, 0);
    opacity: 0.6; 
    
  }

  
  .button {
    background: rgba(255, 255, 255, 0.267);
    color:black;
    padding: 15px 32px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 150px;  height: 50px;
    border-radius: 15px; 
    margin-left: 115px;
    margin-top: 460px;
    outline: none;
   
  
  }

  .button:hover{
    background-color:rgba(39, 77, 3, 0.856);
    color:white;
  
  border: 1px solid rgba(39, 77, 3, 0.856);
    

  }

  .button1{
    background: rgba(255, 255, 255, 0.267);
   
    color:black;
    padding: 15px 32px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 150px;  height: 50px;
    border-radius: 15px; 
    margin-left: 140px;
    margin-top: 460px;
    outline: none;
  }

  .button1:hover{
    background-color:rgba(236, 78, 78, 0.815);
    color:white;
    border: 1px solid rgba(236, 78, 78, 0.815);
    

  }


  div.a{

    position: absolute;
    left: auto;
    width: 50%;
    height: 90%;
    font-weight: 900;
    font-size: 20px;
    color:rgb(182, 182, 182);
   
   
  }

  div.b{
    position: absolute;
   left:40%;
    width: 50%;
    height:85%;
    font-weight: 900;
    font-size: 20px;
    color:black;
   
  } 

  #abouttitle{
      text-align: center;
      font-size: 80px;
      font-family:'Courier New', Courier, monospace;
      font-weight: 900;
    color: white;
    line-height: 150pt;
  }

  #aboutquote{
    text-align: center;
    font-size:20px;
    font-family:'Courier New', Courier, monospace;
    color:rgb(38, 238, 238);
    line-height: 200pt;
    font-weight: 500;
  
}

hr{
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 45%;
  margin-right: 45%;
  border-style: inset;
  border-width: 2px;
  border-color: rgb(217, 255, 0);
  line-height:10px
}

.container{
  color: whitesmoke;
  line-height:50px;
  font-family:Arial, Helvetica, sans-serif;
 
  
}

.buttonoutline{
  outline: none;
  background: transparent;
  border:transparent;
  font-size: 15px;
  margin-top: 3%;
  margin-left:17% ;
  color: rgb(238, 238, 238);
  scroll-behavior: smooth;
  
}

.buttonoutline:hover{
  outline: none;
  background: transparent;
  border:transparent;
  font-size: 15px;
  margin-top: 3%;
  margin-left:17% ;
  color:rgb(250, 0, 83)
  
  
}

.buttonremove {
  background:transparent;
  color:black;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px; 
  outline: none;
  border: 2px solid black;
}

.buttonremove:hover{
  background-color:rgba(255, 15, 15, 0.856);
  color:white;
  

}
