<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
            </head>
            <body class="contactbody" ng-controller="contactctrl">
            <div>
            <div class="split left">
              <div class="centered">
                 
                    <div style="line-height:20pt;">
                            <span class="glyphicon glyphicon-home navicon" ></span>
                            N.Prasanth <br>
                            No,61 Pillaiyar Kovil Street<br>
                            Sabthaliburam<br>
                            Vellore- 632011,Tamilnadu<br>
                            India
                    </div>
                            <span class="glyphicon glyphicon-earphone navicon" ></span>&nbsp;+91-8807573887 <br>    
                            <span class="glyphicon glyphicon-envelope navicon" ></span>&nbsp;prasanth30041994@gmail.com <br>
                            <span class="glyphicon glyphicon-globe navicon" ></span>&nbsp;www.SampleProject.com
                
              </div>
            </div>
            
            <div class="split right">
              <div class="centered">
                   
                <table class="lefttable">
                    <tr>
                        <td> 
                            <input type="=text" ng-model="name" placeholder="Name" id="inputtext">
                        </td>
                    </tr>

                    <tr>
                            <td> 
                                <input type="=email" ng-model="email" placeholder="E-mail" id="inputtext">
                            </td>
                        </tr>

                        <tr>
                                <td> 
                                    <input type="=number" ng-model="phone" placeholder="Phone Number" id="inputtext">
                                </td>
                            </tr>
                            <tr>
                                    <td> 
                                        <input type="textarea" ng-model="comments" placeholder="Message" id="inputtextarea">
                                    </td>
                                </tr>
                               
                                
                </table>
        
                    
          

                   
              </div>
              <div class="buttonalign"> <input type="button" class="button" value="Submit" ng-click="submit()"></div>
             
            </div>
        </div>
            </body>
            </html> 
            